################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Ex1/.vs/EAD/v15/Server/sqlite3
